body {
  background-color: #40095f;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.mainLeft {
  background-color:#40095f;
  width: 300px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.upper {
  background-color: #ba53d3;
  width: 100%;
  height: 20%;
}

.down {
  display: flex;
  justify-content: space-between;
  height: 80%;
  width: 100%;
}

.yellowRed {
  width: 46%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.yellow {
  background-color: #fba70f;
  height: 58%;
}

.red {
  background-color: #f03f4d;
  height: 38%;
}

.blue {
  background-color: #02bfcd;
  width: 51%;
  height: 100%;
}

.mainRight {
    background-color:#40095f;
    width: 300px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }
.uper {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.l1 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.u1 {
  background-color: #f03f4d;
  height: 30%;
}

.u2 {
  background-color: #02bfcd;
  height: 25%;
}

.u3 {
  background-color: #fba70f;
  height: 45%;
}

.r1 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.d1 {
  background-color: #02bfcd;
  height: 35%;
}

.d2 {
  background-color: #fba70f;
  height: 30%;
}

.d3 {
  background-color: #f03f4d;
  height: 35%;
}
.lastRow {
  background-color: #ba53d3;
  width: 100%;
  height: 20%;
}
