body {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    list-style: 1.6em;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    text-align: ;
}

#main-header {
    background-color: aquamarine;
    color: white;
}

#navbar {
    background-color:skyblue;
    color: white;
    
}

#navbar ul {
    padding: 0;
    list-style: none;
}

#navbar li {
    display: inline;
}

#mavbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

#showcase {
    background-image: url(moon.jpeg);
    height: 300px;
    margin-bottom: 30px;
    text-align: center;

}

#showcase h1 {
    color: white;
    font-size: 40px;
    line-height: 1.6em;
    padding-top: 25px;

}

#main {
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;

}

#sidebar {
    float: right;
    width: 70%;
background: #333;
color: #fff;
    padding: 10px;
    box-sizing: border-box;
}

#main-footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

@media(max-width:600px) {
    #main {
        width: 100%;
        float: none;
    }
}